.titulo{
    text-align: center;
    background-color: silver;
}

.titulo:hover{
    background-color: black;
    color:white;
    text-decoration: underline;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color-barra{
    background-color: blue;
}